.body{
  background-color: #191919;
  color: #FFEEAD;
}
.Nsci{
  text-align: center;
  font-size: 45px;
}
.CrossModalPlasticity{
  margin: 20px;
  font-size: 20px;
}
.TitleCrossModal{
  font-size: 35px;
}
