.pageCompSci{
  text-align: center;
}

.HopsitalManagementInfo{
  font-size: 20px;
}
.FeaturesHMS_detail{
  font-size: 20px;
}

.pageCompSci{
  padding-bottom: 30px;
  padding-top: 30px;
}
.pillarsOfOOP{

    font-size: 20px;
}
.body{
  background-color: #191919;
  color: #FFEEAD;
  margin: 0;
  margin-left: 10px;
}
.statement{
  color: white;
    font-style: oblique;
    position: relative;
    top: 160px;
}
