.pageCompSci{
  text-align: center;
}
.RoomWinner1{
  height: 450px;
  top: 27px;
  position: relative;
  left: 115px;
}
.RoomWinner2{
  height: 450px;
  top: 27px;
  position: relative;
  left: 115px;

}
.Question1{
 padding-top: 25px;
 padding-bottom: 75px;
 font-size: 20px;
}
.RoomWinnerexplanation{
  padding-top: 25px;
  padding-bottom: 75px;
  font-size: 20px;
}
.RoomWinnerCode{
background-color: #3F4E4F;
height: 930px;
position: relative;
padding-bottom: 20px;

}
.pageCompSci{
  padding-bottom: 30px;
  padding-top: 30px;
}
.pillarsOfOOP{

    font-size: 20px;
}
.body{
  background-color: #191919;
  color: #FFEEAD;
  margin: 0;
  margin-left: 10px;
}
.statement{
  color: white;
    font-style: oblique;
    position: relative;
    top: 160px;
}
